@import '../../../variables';

.PasswordChange {
    padding: 1rem 2rem;
    width: 50%;
    background-color: $color-grey-light-1;

    &__Header {
        margin-bottom: 3rem;

        h2 {
            font-size: $small-header-font-size;
            text-align: center;
            font-weight: 600;
        }
    }

    &__Form {
        &__Warning {
            font-size: $small-font-size-2;
            font-weight: 700;
            text-align: center;
            color: $red;

            &::before {
                content: '!';
                display: inline-block;
                width: 2rem;
                height: 2rem;
                background-color: #ffa700;
                color: #fff;
                -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                padding-left: 1px;
                padding-top: 2px;
                margin-right: 1rem;
            }
        }
    }

    &__Cta {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}