@import '../../../../../variables';

.CourseHome {
    grid-area: item2;

    &__Header {
        text-align: center;
        font-size: $default-header-font-size;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        padding: 1rem;
        margin-bottom: 1.5rem;
        
        h1 {
            font-weight: 400;
        }
    }

    &__SectionList {
        margin-top: 2rem;
        font-size: $default-font-size;

        h2 {
            font-size: $small-header-font-size;
        }

        &__List {
            list-style: none;
            margin: 1rem 0 0 2rem;

            li:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &__Cta {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            margin-top: 1.5rem;
        }
    }

    & > div:not(:first-child) {
        margin: 3rem auto 0 auto;
        // width: 80%;
    }

    &__Activities {
        margin-top: 2rem;
        font-size: $default-font-size;

        h2 {
            font-size: $small-header-font-size;
        }

        &__List {
            list-style: none;
            margin: 1rem 0 0 2rem;

            li:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &__Cta {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            margin-top: 1.5rem;

            button {
                margin-left: 1rem;
                height: 100%;
            }
        }
    }

    &__UserEnrollment {
        display: flex;
        flex-direction: column;

        &__Cta {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            margin-top: 1.5rem;
        }
    }
}