@import '../../../../../variables';

.CourseHome {
    grid-area: item2;

    &__Header {
        text-align: center;
        font-size: $default-header-font-size;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        padding: 1rem;
        margin-bottom: 2rem;
        
        h1 {
            font-weight: 400;
        }
    }

    &__SectionList {
        margin-top: 2rem;
        font-size: $default-font-size;

        h2 {
            font-size: $small-header-font-size;
        }

        &__List {
            list-style: none;
            margin: 1rem 0 0 2rem;

            li:not(:last-child) {
                margin-bottom: 1rem;
            }

            li {
                display: flex;
                align-items: center;

                &::before {
                    content: '';
                    display: inline-block;
                    height: 1.2rem;
                    width: 1.2rem;
                    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                    background-color: $black;
                    margin-right: 5px;
                }

                span {
                    cursor: pointer;
                    width: 1rem;
                    height: 1rem;
                    margin-left: 1rem;
                    clip-path: polygon(0 0, 100% 50%, 0 100%, 0 100%, 35% 50%, 0 0);
                    background-color: $color-misc-2;
                    transition: background-color 0.2s ease-in;

                    &:hover {
                        background-color: $color-misc-1;
                    }
                }
            }
        }

        &__Cta {
            display: flex;
            justify-content: flex-end;
            margin-top: 1.5rem;
        }
    }

    & > div:last-child {
        margin: 3rem auto 0 auto;
        width: 80%;
    }
}