@import "../../../../../variables";

.AdminNavigationDropdown {
    font-size: $default-font-size;
    list-style: none;

    // TODO: Move it to the component later
    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    header {
        font-weight: 700;
        cursor: pointer;
    }

    &__Menu {
        // visibility: hidden;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.15s ease-out;
        // height: 0;

        // animation: scaleDown 0.2s ease-out;
        // animation-fill-mode: forwards;

        &__Opened {
            // visibility: visible;
            max-height: 100rem;
            transition: max-height 0.25s ease-in;
            // height: 100%;

            // animation: scaleUp 0.2s ease-out;
            // animation-fill-mode: forwards;
        }
    }
}