@import "../../../variables";

.CourseSubSection {
    display: flex;
    height: 100%;

    &__Content {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__Header {
            margin-bottom: 1rem;
        }

        &__Cta {
            display: flex;
            justify-content: space-between;
            margin-top: auto;
        }
    }

    &__ButtonIcon {
        height: 2rem;
        width: 2rem;
        fill: $color-white;
    }
}