@import "../../../variables";

.Content {
    margin: 5rem auto;
    height: calc(100% - 10rem);
    width: 80%;

    &__Cta {
        position: absolute;
        bottom: 0.5rem;
        right: 50%;
        transform: translateX(50%);
    }
}