@import "../../../variables";

.ContentWrapper {
    position: relative;
    margin: 5rem auto 5rem 0;
    height: calc(100% - 10rem);
    width: 90%;
    overflow-y: scroll;
}

.Content {
    padding-bottom: 3rem;
    margin: 0 auto;
    width: 80%;

    &__Cta {
        position: absolute;
        bottom: 0.5rem;
        right: 50%;
        transform: translateX(50%);
    }
}