@import '../../../variables';

.InfoBox {
    padding: 1rem;
    box-shadow: $shadow-mild;

    &__Header {
        margin-bottom: 2rem;

        h2 {
            font-weight: 400;
            font-size: $default-header-font-size;
        }
    }
}