@import "../../../variables";

.SelectInputWrapper {
    display: inline-block;
    position: relative;
    font-size: $default-font-size;
    align-self: flex-start;

    label {
        display: inline-block;
        color: rgba($color-tertiary-dark-1, 1);
        margin-right: 0.5rem;
        padding: 0.5rem;
    }
}

.SelectInput {
    display: inline-block;
    width: max-content;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-bottom: 1px solid rgba($color-tertiary-dark-1, 0.5);
    position: relative;
    cursor: pointer;
    color: $color-tertiary-dark-1;
    transition: all 0.2s ease-out;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        background-color: $color-tertiary-dark-1;
        clip-path: polygon(50% 100%, 0 30%, 100% 30%);
        transition: all 0.2s ease-out;
    }

    &:hover {
        border-bottom: 1px solid rgba($color-tertiary, 0.5);
    }

    &:hover::after { 
        background-color: $color-tertiary;
    }
}

.SelectOptions {

}