@import "../../../variables";

.PasswordReset {
    font-size: $default-font-size;
    box-shadow: $shadow-custom;
    border-radius: 4px;
    max-width: 50%;
    width: 40%;
    margin: 20rem auto 0 auto;
    padding: 2rem;
    background-color: rgba($color-misc-2, 0.4);

    button {
        margin-top: 1rem;
    }

    &__Header {
        text-align: center;
        font-size: $default-header-font-size;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 400;
        color: $color-complement-dark-2;
        margin-bottom: 4rem;
    }
}