@import "../../../variables";

.Intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__Header {
        text-align: center;

        h1 {
            font-size: $default-header-font-size;
            color: $color-complement-dark-1;
        }

        div {
            margin-top: 20%;
        }
    }

    &__Cta {
        margin-top: 20%;
    }
}