@import "../../variables";

.Course {
    width: 80%;
    height: 60rem;
    margin: 0 auto;
    padding: 1.5rem;
    font-size: $default-font-size;
    box-shadow: 0.25rem 0.5rem 0.75rem rgba($color-tertiary-dark-2, 0.75);
    background-color: rgba($color-tertiary-dark-2, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__Title {
        text-align: center;
        font-size: $default-header-font-size;
        color: rgba($color-tertiary-dark-2, 0.85);
        margin-bottom: 2rem;
    }

    &__Loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}