@import '../../../variables';

.UserMessage {
    position: relative;
    margin-right: 1.5rem;

    &__UnreadCount {
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        top: -30%;
        right: -25%;
        color: $color-white;
        text-align: center;
        font-size: 1.1rem;
        background-color: $color-primary-dark-1;
        border-radius: 50%;
        line-height: 1.2;
        font-weight: 700;
    }

    &__Icon {
        width: 2rem;
        height: 2rem;
        fill: $color-tertiary-dark-1;
        cursor: pointer;
        transition: fill 0.2s ease-in;

        &:hover {
            fill: $color-complement;
        }
    }

    &__InboxPreviewWrapper {
        position: absolute;
        right: 0;
        top: 3rem;
        width: 25rem;
        height: 25rem;
        overflow: hidden;
        box-shadow: $shadow-custom;
        z-index: 9999;
        transition: height 0.2s ease-in;
    }

    &__InboxPreviewContent {
        background-color: $color-white;
        min-height: 20rem;

        header {
            padding: 1rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $color-black;

            h2 {
                font-size: $default-font-size;
                color: $color-black;
            }
        }
    }
}