@import "../../../../variables";

.PostDetailContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__Cta {
        margin-top: auto;
    }
}

.PostDetail {
    padding: 1rem;
    border: 1px solid rgba($color-black, 0.8);

    &__Header {
        display: flex;
        margin-bottom: 1rem;

        &__Title {
            h2 {
                font-size: $default-header-font-size;
            }
        }

        &__TimeContainer {
            min-width: 15rem;
            margin-left: auto;
            position: relative;

            &__Time {
                cursor: pointer;
                display: block;
                width: 100%;
                text-align: right; 
            }

            &__Tooltip {
                font-weight: 600;
                position: absolute;
                top: 60%;
                right: 0%;
                height: 0;
                overflow: hidden;
                transition: all 0.2s ease-out;
                background-color: $color-white;
                padding: 0 3px;
            }

            &__Time:hover ~ &__Tooltip {
                height: 2.4rem;
            }
        }
    }

    &__Body {
        padding: 1.5rem 0;
    }

    &__Cta {
        display: flex;
        justify-content: space-between;
        
        margin-top: 3rem;
        padding-top: 1rem;
        border-top: 1px solid rgba($color-black, 0.4);

        &__Buttons {
            & > button:not(:last-child) {
                margin-right: 1rem;
            }
    
            & > button:first-child {
                margin-left: auto;
            }
        }
    }
}

.PostComments {
    margin-top: 1rem;
    text-align: center;

    h1 {
        font-size: $small-header-font-size;
        text-align: center;
    }
}

.PostComments__Overflow {
    overflow-y: scroll;
}