@import '../../../../variables';

.AdminCourseList {
    grid-area: item2;

    &__Header {
        text-align: center;
        font-size: $default-header-font-size;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        padding: 1rem
        
        h1 {
            font-weight: 400;
        }
    }

    &__Body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
        grid-gap: 5rem;
        padding: 2rem;
    }
}